.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 2.5%;
  position: sticky;
}

.left-nav > ul,
.right-nav > ul {
  display: inline-flex;
  align-items: flex-start;

}

.left-nav {

  > ul {
    > li {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      text-transform: capitalize;

    }
  }

  span {


  }
}

.right-nav  {

  > ul {

    > li {
  
    }

    > li:last-of-type {
  
    }
  }
  
  i {
      font-size: 25px;

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $light-gray;

}
